<!DOCTYPE html>
<html>

{% include "header.html" %}

<body>
	<div class="itempane">
		<h5 class = "padding padding-top-20 padding-bottom-20"> Are you sure you want to delete ({{item.name}})? </h5>
		<form action="{{ url_for('deleteItem', category_name = item.category.name, item_name = item.name)}}" method = 'post'>
			<div class="padding-left-10">
				<input type='submit', value = 'Delete'>
				<a href="{{url_for('ItemDetails', category_name=item.category.name, item_name=item.name)}}">
        			<button type="button">Cancel</button>
				</a>
			</div>
		</form>
	</div>
</body>

</html>