 <head>
 <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">

<div class="Headerpane">

	<div class="row">
		<div class="column-left">
			<a href="{{url_for('allCategories')}}"><p class="homeLink">Home</p> </a>
		</div>

		<div class="column-right">
			{%if 'username' not in session %}
			<a href="{{url_for('showLogin')}}"><p class="loginLogoutLink">Login</p> </a>
			{% else %}
			<a href="{{url_for('disconnect')}}"><p class="loginLogoutLink">Logout</p> </a>
			{% endif %}
		</div>

		<div class="column-center">
			<h1 class="title">Catalog</h1>
		</div>
	</div>

</div>
</head>