<!DOCTYPE html>
<html>

{% include "header.html" %}

<body>
	<div class="itempane">
		<h4 class="padding">{{item.name}}</h4>
		<h6 class="padding padding-left-20">Author: {{item.author}}</h6>
        <img class="img" src="{{item.picture}}" alt="{{item.name}}"/>
    </div>
    <div class="padding-left-10 padding-top-20">
    	<button><a href='{{url_for('editItem', category_name = item.category.name,
				item_name = item.name)}}' >Edit</a></button>
    		<button><a href='{{url_for('deleteItem', category_name = item.category.name,
    			item_name = item.name)}}' >Delete</a></button>
    </div>
</body>

</html>